.container {
    margin-right: auto;
    margin-left: auto;

    &__boxed {
        width: 80%;
        max-width: $container-width;
    }

    &__fullwidth {
        width: 100%;
    }
}

.row {
    @include clearfix();
    display: block;
}

@mixin clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }
    &::after {
        clear: both;
    }
}

// Need to generate column classes
// Should always exist within a row?
// for $i 

